- content_for :page_title do
  Скисок статей в категории

.content.info-page
  - @pages.each do |page|
    %h3= link_to page.title, short_post_url(@page_category.slug,page.slug)
    .post_body=raw page.short_body
    %br
    %p= link_to 'Читать дальше >>', short_post_url(@page_category.slug,page.slug)