%table
  %tr
    %th Published
    %th Name
    %th Description
    %th
    %th
    %th

  - @categories.each do |category|
    %tr
      %td= category.published
      %td= category.name
      %td= category.description
