.prod_hold
  =link_to (category_product_path(product.category,product)),:class=>"wrap_link" do
    %span.image
      -if !product.attachments.first.nil?
        =image_tag (product.attachments.first.attachment_url(:catalog)),  :alt => product.category.name+' '+product.title, :title => product.title
      -else
        =image_tag (product.attachments.photo_not_available)

  .pricetag_small
    -#%span.old_price='10 Грн.'
    -#%span.new_price=product.product_price
    %span.price=product.product_price

  .info_
    %h3= product.title
    =link_to "Подробнее", category_product_path(product.category,product),:class=>"add_to_cart_small"