- content_for :page_title do
  =@category.name

.cat_list.fixed
  -@products.each do |product|
    =render :partial => 'product_item', :locals =>{ :product => product }
  .clear
-#.pagination
-#  .links
-#    %b 1
-#    %a{:href => "#"} 2
-#    %a{:href => "#"} >
-#    %a{:href => "#"} >|
-#  .results Showing 1 to 12 of 23 (2 Pages)
