- content_for :page_title do
  =@category.name

.cat_list.fixed
  -@products.each do |product|
    .prod_hold
      =link_to (category_product_path(product.category,product)),:class=>"wrap_link" do
        %span.image
          =image_tag (product.attachments.first.attachment_url(:catalog)),  :alt => product.category.name+' '+product.title, :title => product.title
      .pricetag_small
        %span.old_price='10 Грн.'
        %span.new_price=product.product_price
      .info_
        %h3= product.title
        =link_to "Купить", category_product_path(product.category,product),:class=>"add_to_cart_small"

      -#.info{:style => "visibility: hidden;"}
      -#  %h3 Very long product name goes here
      -#  %p Suspendisse eget nunc lorem. Sed convallis mattis est, quis dignissim magna varius et.
      -#  %a.add_to_cart_small{:href => "#"} Add to cart
      -#  %a.wishlist_small{:href => "#"} Wishlist
      -#  %a.compare_small{:href => "#"} Compare
      -#
      -#  %td= product.published
      -#  %td= product.title
      -#  %td= product.price
      -#  %td= product.supplier_price
      -#  %td= product.supplier_id
      -#  %td= product.category_id
      -#  %td= product.status
      -#  %td= product.description


    -#=render "products/product_item"
  .clear
