.box
  .box-content.box-category
    %h3.heading-title
      %span Информация
    %ul
      %li
        %a{:href => ""} О нас
      %li
        %a{:href => ""} Доставка
      %li
        %a{:href => ""} Оплата
      %li
        %a{:href => ""} На связи
      %li
        %a{:href => ""} Карта сайта
