-if params[:controller]=='products' && params[:action]=='index'
  .box
    %h3.heading-title
      %span Категории
    .box-content.box-category
      -cache 'menu' do
        = render "categories/list"

  .box
    %h3.heading-title
      %span ТОП продаж
    -cache "bestsellers_#{params[:category_id]}" do
      = render :partial => 'products/bestsellers', :locals =>{ :bestsellers => Product.bestsellers(5,params[:category_id]) }
-else
  .box
    .box-content.box-category
      %h3.heading-title
        %span Информация
      %ul
        %li
          %a{:href => ""} О нас
        %li
          %a{:href => ""} Доставка
        %li
          %a{:href => ""} Оплата
        %li
          %a{:href => ""} На связи
        %li
          %a{:href => ""} Карта сайта
