.inner
  .column_big
    / FOOTER MODULES AREA
    .footer_modules
      %h3
        О нас
      %p
        Более 7-ми лет наша компания работает с продуктами питания ведущих европейских производителей. Наша команда создала уникальное предложение для покупателей: теперь Вы можете без всяких проблем и очередей получить товары высшего качества в удобное для Вас место и время.
  .column_small
    %h3 Пользователям
    %ul
      %li
        %a{:href => ""} Главная
      %li
        %a{:href => ""} Мой Аккаунт
      %li
        %a{:href => ""} Изстория заказов
      %li
        %a{:href => ""} Новости
  .column_small
    %h3 Информация
    %ul
      %li
        %a{:href => ""} О нас
      %li
        %a{:href => ""} Доставка
      %li
        %a{:href => ""} Связь с нами
      %li
        %a{:href => ""} Карта сайта
  .column_small
    %h3 Ще шотото
    %ul
      %li
        %a{:href => ""} Бренды
      %li
        %a{:href => ""} Зделать подарок
      %li
        %a{:href => ""} Поделитесь
      %li
        %a{:href => ""} Акции
  -#.clear
  -##facebook_holder
  -#  %div
  -#    %fb:fan.fb_iframe_widget{:connections => "13", :css => "http://spicylicious-oc.althemist.com/catalog/view/theme/Spicylicious/stylesheet/facebook.css?36", :height => "150", :logobar => "0", :profileid => "185094354943", :stream => "0", :width => "988"}
  -#      %span
  -#        %iframe#f38825bc0db7f3c.fb_ltr{:name => "f2d54acd176e36", :scrolling => "no", :src => "http://www.facebook.com/plugins/fan.php?api_key=0c18007de6f00f7ecda8c040fb76cd90&connections=13&css=http%3A%2F%2Fspicylicious-oc.althemist.com%2Fcatalog%2Fview%2Ftheme%2FSpicylicious%2Fstylesheet%2Ffacebook.css%3F36&height=150&id=185094354943&locale=en_US&logobar=false&sdk=joey&stream=false&width=988", :style => "border: medium none; overflow: hidden; height: 150px; width: 988px;"}
  .clear
  #powered
    Разработано
    %a{:href => "http://www.google.com"} GoogleCMS
  %span.copyright
    Все права сохранены © 2000 - 2012
