.inner
  %ul.main_menu.menu_left
    %li
      %a{:href => ""} Информация
    %li
      %a{:href => ""} Главная

  #logo
    %a{:href => "/"}
      %img{:alt => "", :src => "/images/logo.png", :title => "logo"}/
  %ul.main_menu.menu_right
    %li
      %a{:href => ""} На связи
    %li
      -if session[:cart_id]
        =link_to "Корзина", cart_url(session[:cart_id])
      -else
        %a{:href => ""} На связи

  -##welcome
  -#  Добро пожаловать
  -#  %a{:href => "account/login"} залогинется
  -#  или
  -#  %a{:href => "account/register"} зареестрироватся
  .menu
    = render "categories/list"
    -#%ul#topnav
    -#  %li
    -#    %a{:href => ""} Сыры
    -#  %li
    -#    %a{:href => ""} Макароны
    -#  %li
    -#    %a{:href => ""} Консервированные продукты
    -#  %li
    -#    %a{:href => ""} Масло оливковое
    -#  %li
    -#    %a{:href => ""} Сладости
    -#  %li
    -#    %a{:href => ""} Кофе
    -#  %li
    -#    %a{:href => ""} Уксус
    -#  %li
    -#    %a{:href => ""} Соусы и приправы
  #notification