.inner
  %ul.main_menu.menu_left
    %li
      %a{:href => ""} Информация
    %li
      %a{:href => ""} Главная

  #logo
    %a{:href => "/"}
      %img{:alt => "", :src => "/images/logo.png", :title => "logo"}/
  %ul.main_menu.menu_right
    %li
      %a{:href => ""} На связи
    %li
      -if session[:cart_id]
        =link_to "Корзина", cart_url(session[:cart_id])
      -else
        %a{:href => ""} Корзина

  -##welcome
  -#  Добро пожаловать
  -#  %a{:href => "account/login"} залогинется
  -#  или
  -#  %a{:href => "account/register"} зареестрироватся
  .menu
    -cache 'menu' do
      = render "categories/list"
  #notification